<!DOCTYPE html>
<html>
{{#def.include('template/head')}}
<body>
  <div class="panel content-body center">
    <h2>You are not authorized to see this </h2>
    <a class="button" href="/login">Please login and try it again</a>
  </div>
</body>
</html>