<!DOCTYPE html>
<html>
{{#def.include('template/head')}}
<body>
  <div class="panel content-body center">
    <h2>The page you are looking for doesn't exist...</h2>
    <a class="button" href="/">Go Home</a>
  </div>
</body>
</html>