{{##def.page_title = 'Your account' #}}
{{##def.content:
<script type="text/javascript">
  window.onload = function () {
    if (document.getElementById('confirmation') !== null) {
      document.getElementById('confirmation').onchange = validatePassword;
      document.getElementById('password').onchange = validatePassword;
    }
  };
  function validatePassword() {
    var password = document.getElementById('password').value;
    var confirm = document.getElementById('confirmation').value;
    console.log(password, confirm);
    if (password != confirm) {
      console.log('not equals');
      document.getElementById('confirmation').setCustomValidity("Confirmation and password should be the same");
    } else document.getElementById("confirmation").setCustomValidity('');
  }
  function logout() {
    if (document.getElementById('logout') ) {
      if (confirm("Are you sure you want to log out?")) {
        document.getElementById("logout").submit();
      }
    }
  }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="settings content-body">
  <ul class="menu">
    <li class="active">Account</li>
    <li><a href="/deposit">Deposit</a></li>
    <li><a href="/withdraw">Withdraw</a></li>
    <li><a href="/support">Support</a></li>
    <li><a onclick="logout();">Logout</a></li>
  </ul>
  <div class="panel">
      <a class="button orange float-right" href="/user/{{=it.user.username}}">Public Profile</a>
      <h5>Account</h5>
      <hr>
      {{?it.user.deposit_address }}
        <div class="field">
          <label>Deposit Address</label>
          <input type="text" value="{{=it.user.deposit_address}}" readonly="readonly" />
          <p>Transfer bitcoins to this address and we'll add bits to your account, 1 bit for every 100 satoshis you transfer. <a href="/faq#deposit"> <small>How?</small></a></p>
        </div>
        <img class="show-for-medium-up qr" src="https://blockchain.info/qr?data={{=it.user.deposit_address}}&size=150" alt=""/>
      {{??}}
        <p><a href="/generate-address" class="button green">Generate deposit address</a></p>
      {{?}}
      <br>
      <h5>Account Information</h5>
      <div id="statistics">
        <div class="columns data">
          <b>Deposits</b>
          <h6>{{#def.format:{n: it.user.deposits, decimals:1} }} Bits</h6>
        </div>
        <div class="columns data">
          <b>Withdrawals </b>
          <h6>{{#def.format:{n: it.user.withdrawals, decimals:1} }} Bits</h6>
        </div>
        <div class="columns data">
          <b>Free Bits Collected </b>
          <h6>{{#def.format:{n: it.user.giveaways, decimals:2} }}</h6>
        </div>
        <div class="columns data">
          <b>Net Profit</b>
          <h6>{{#def.format:{n: it.user.net_profit, decimals:2} }} Bits</h6>
        </div>
      </div>
      <br>
      {{?typeof it.user.eligible !== 'number' }}
        {{?it.user.balance_satoshis > 100}}
          <a href="/request" class="button green full">You are eligible for a free 5 bits. Click here to claim them!</a>
        {{?}}
      {{??}}
        <div class="button disabled full">You'll be eligible for 5 free bits in {{=it.user.eligible}} minutes</div>
      {{?}}
      <hr>
      <h5>Update Your Password</h5>
      <form action="reset-password" method="post">
        <div class="field">
          <label for="old_password">Old Password</label>
          <input name="old_password" type="password" id="old_password" autocomplete="off" required/>
        </div>
        <div class="field">
          <label for="password">New Password <span class="small">At least 7 characters</span></label>
          <input name="password" type="password" id="password" pattern=".{7,50}" required/>
        </div>
        <div class="field">
          <label for="confirmation">Confirm Password</label>
          <input name="confirmation" type="password" id="confirmation" pattern=".{7,50}" required/>
        </div>
        <input type="submit" class="button" value="Change Password"/>
      </form>
      <br>
      <br>
      <hr>
      {{?it.user.email}}
        <h5>Recovery Email</h5>
        <div class="field">{{=it.user.email}}</div>
        <a class="button" href="/delete-email">Delete this email</a>
      {{??}}
        <h5>Add an Email Address</h5>
        <p class="small">In case you've forgotten your password we can send you a link to reset it, otherwise you don't have other way to recover your account.</p>
        <form action="/add-email" method="post">
          <div class="field">
            <label for="email">Recovery Email</label>
            <input type="email" id="email" name="email" required="" />
          </div>
          <div class="field">
            <label for="password">Confirmation Password</label>
            <input name="password" type="password" id="check_password" autocomplete="off" pattern=".{7,50}" required/>
          </div>
          <input class="button" type="submit" value="save"/>
        </form>
      {{?}}
    </div>
  </div>
#}}
{{#def.include('./template/main')}}