{{##def.page_title = 'Contact Us' #}}
{{##def.content:
<div class="panel content-body">
  <h5>Houston, do you copy?</h5>
  <hr>
  <div class="contact">
    <form action="/contact" id="contact" method="post">
      <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required=""/>
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea rows="10" id="message" name="message" required> </textarea>
      </div>
      <input type="submit" class="button" value="Send Message"/>
    </form>

  </div>
</div>
#}}
{{#def.include('./template/main')}}