{{##def.page_title = 'Frequently Asked Questions' #}}

{{##def.content:
<div class="faq panel content-body">

  <h5>Frequently Asked Questions</h5>
  <hr>
  <dl>
    <h3 id="basics">Basics</h3>
    <dd>
      <b><a name="how-to-play"></a>How to play?</b>
      <p>
        Place a bet. Watch the multiplier increase from 1x upwards! Cash out any time to get your bet
        multiplied by that multiplier. But be careful because the game can crash at any time, and you'll get nothing!
      </p>
    </dd>
    <dd>
      <b><a name="bits"></a>What is a bit?</b>
      <p>
        A bit is a millionth of a bitcoin or 100 satoshis. At the time of this writing, a single bit is worth roughly $0.05 USD.
        You are able to deposit and withdraw bits at any time by going to your <a href="/account">account page</a>.
      </p>
    </dd>
    <dd>
      <b><a name="giveaway"></a>How can I get free bits?</b>
      <p>
        Every hour you can claim 5 free bits on your account page. We do this so that you may test and enjoy the game
        without any commitment. There are no strings attached, you may withdraw this money if you so please, but
        we ask you to refrain from abusing this feature =)
      </p>
    </dd>
     <h3>Deposits</h3>
    <dd>
      <b><a name="deposit"></a>How do I deposit bits?</b>
      <p>
        You will need to transfer bitcoins to the deposit address on your account page. If you do not have any bitcoins,
        we can recommend <a href="https://circle.com">Circle</a> as you can purchase bitcoins instantly using your credit card.
        And remember, you can withdraw directly to the bitcoin address on
        your account page!
      </p>
    </dd>
    <dd>
      <b><a name="deposit-address"></a>How long is the deposit address valid?</b>
      <p>
        It is <strong>permanently</strong> attached to your account. You can save it, or use it for automatic
        funding, or whatever else you like. All payments to this address will be automatically credited to your account.
      </p>
    </dd>
    <dd>
      <b><a name="deposit-time"></a>How long do deposits take to be credited?</b>
      <p>
        We instantly credit accounts upon a single confirmation, which on average is approximately 10 minutes from the time of the transaction.
      </p>
    </dd>
    <dd>
      <b><a name="withdraw"></a>How do I withdraw bits?</b>
      <p>
        On your account page, you can transfer bits to any bitcoin address you want. Small withdrawals
        (i.e. smaller than the balance of our hot-wallet) are processed instantly and you will be given the transaction ID immediately.
      </p>
      <p>
        Larger withdrawals will be shown in your withdrawal page as "PENDING" and will require us to manually remove
        sufficient funds from our cold storage. Usually this process will take less than two hours, but may take up to 24 hours,
        depending on the time of day and other circumstances.
      </p>
      <p>
        We remove 100 bits (about 0.05 USD) from any withdrawal amount to cover mining fees. We charge this amount
        <strong>regardless</strong> of the actual mining fees attached to the transaction, which may be more or less
        than this, depending on the block competition at the time of your withdrawal.
      </p>
      <p>
        Withdrawals must be in increments of 1 bit (100 satoshis), with a minimum withdrawal of 200 bits (of which 100 bits
        goes towards the mining fee). As required, we will chip in our own money to help expedite confirmation time, such that
        we typically pay 200 bits in mining fees, despite charging you only 100 bits.
      </p>
    </dd>
    <dd>
      <b><a name="gross-profit"></a> What is gross profit?</b>
      <p>
        Gross profit refers to the sum of the profit from each game you've played without considering your loses.
      </p>
    </dd>
    <h3>Game</h3>
    <dd>
      <b><a name="dropout"></a>What happens if I disconnect from the game?</b>
      <p>
        Upon detecting that you have disconnected we cash you out (assuming the game is still in progress).
        Regardless of whether your client is connected or not, the <em>auto cash-out</em> feature will work as expected (it happens on
        the server), and we highly recommend you use it if internet reliability or performance is a concern.
      </p>
    </dd>
    <dd>
      <b><a name="high"></a>How high can the game go?</b>
      <p>
        There's no real limit! However, if during a game we ever are facing a net loss of 2,000,000 bits (2 BTC) or greater,
        the server will automatically cash out all players still in the game, forcing them to enjoy an early win and a sizeable profit.
      </p>
    </dd>
    <dd>
      <b><a name="limit"></a>What is the most I can bet?</b>
      <p>
        We currently have a bet limit of 1,000,000 bits (1 BTC)!
      </p>
    </dd>
    <dd>
      <b><a name="last"></a>What is the bonus?</b>
      <p>
        The bonus is a special prize that is awarded to the last people to cash out before the game crashes. Getting the bonus
        is critical to skillful playing, as it is the <strong>only</strong> way to overcome house odds.
      </p>
      <p>1% of each player's stake goes into the bonus pot. So if there are 4 players, betting 400, 300, 200, and 100, there will be 10 bits in the pot.
        If the biggest player wins, he gets the whole pot. The site works out the rate he would be getting if he won, ie. 400 bits bet gives 10 bits bonus
        - or 1/40th bonus per bit bet. It then applies the same rate to whoever actually wins.
      </p>
      <p>So if the 100 bit player wins, he gets 1/40th of 100, or 2.5 bits. That leaves 7.5 bits in the pot,
        which goes to the next best placing player(s).
      </p>
      <p>Suppose the 200 bit player comes 2nd. He is due 1/40th of 200, or 2 bits. There are still 7.5 bits in the pot,
        so he gets the full 2 bits he is due - the same as if he had come in 1st place.
      </p>
      <p>
        Suppose the 300 bit player comes 3rd. He's due 7.5 bits (300/40) but there are only 2.5 bits left in the pot, so he gets those and that's all. There's nothing left for the 4th or worse place players.
      </p>
      <p>
        1% of games will instant crash (0x) and no bonuses will be awarded, all other games have bonuses equal to 1% of the amount wagered.
      </p>
    </dd>
    <h3>Fairness</h3>
    <dd>
      <b><a name="odds"></a>What are the game odds?</b>
      <p>
        The house margin is scaled between 0 and 1 %, depending on how long you hold. An additional 1 % is effectively
        taken from every bet and put into the bonus pool, which is distributed in its entirety
        every game. As a consequence, skilless or random play has—at worst—an expected return of -2 %, but it is possible to overcome
        the house margin by skillfully getting bonuses.
      </p>
      <p>
        The numbers are baked into the game, so you never need to worry about it. We do not
        have a fixed house margin, as this would prevent highly conservative play (e.g. If you were
        only attempting to make $2 in a $100 game, a house margin of 1 % would be 50 % of your potential profits!).
        Our unique formula makes it fair for both highly conservative play (cash out early) and highly aggressive
        play (hold until you're a millionaire). All games are <a href="#provably-fair">provably fair</a>.
      </p>
      <p>
        The exact formula for the houses expected return is:<br />
        <code>1 % * (intendedCashOut - roomAmount) * (roomAmount / intendedCashOut)</code><br />
        But to really get a good sense of how this affects you, please use our handy <a href="/calculator">odds calculator</a>.
      </p>
      <p>
        The other important thing to keep in mind is that every game has a 1 % chance of instantly crashing. We do not make
        <strong>any</strong> money on it, but rather use this to fund the bonus scheme. This is an important consideration to make if you
        are playing in such a way that you never win the bonus.
      </p>
    </dd>
    <dd>
      <b><a name="fair"></a>Is the game fair?</b>
      <p>
        Absolutely! And we can prove it: Before each game starts and before any player joins
        we send a hash of what the result will be. The hash we display is calculated as:
         <code>sha256(gameCrashAmount + '|' + seed)</code>
      </p>
      <p>
        And after a game ends, you can look up the <code>gameCrashAmount</code> and the <code>seed</code> and compute the
        <code>sha256(gameCrashAmount + '|' + seed)</code> to verify that we never changed the gameCrashAmount.
      </p>
    </dd>
    <dd>
      <b><a name="force"></a>What happens when the server forces people to cash out?</b>
      <p>
        Under some circumstances the server will force people to cash out. The most common reason is that the game multiplier
        has gotten so large that we are risking too much of our bankroll (10 % or more). Another possible reason is
        unexpected server problems. If more than one person in a game is affected by the forced
        cash-out, we allocate the last cash-out bonus to a random player.
      </p>
    </dd>
    <h3>Investing</h3>
    <dd>
      <b><a name="invest"></a>Can we invest in your site?</b>
      <p>
        We do not accept bankroll investments now or in the near future.
      </p>
    </dd>
    <h3>Open Source</h3>
    <dd>
      <b>Where did you get the idea?</b>
      <p>
        The idea is originally from a site called <a href="https://moneypot.com">Moneypot</a>. We took the open-source code and remastered the design in a space theme. Moneypot was released under an AGPL3 license, so it is okay to do this. Nevertheless you should definitely check out the original as well!
      </p>
    </dd>
    <dd>
      <b>Is this site open-source as well?</b>
      <p>
        Yes, the AGPL3 states that all adaptions have to be open-source as well. You can find the source code on our bitbucket here <a href="https://bitbucket.org/tothemoonis/tothemoon">here</a>.
      </p>
    </dd>
  </dl>
  <a class="up-bt float-right" href="#">▲ UP</a>
</div>
#}}
{{#def.include('./template/main')}}
