{{##def.page_title = 'Forgot Password' #}}

{{##def.content:
<div class="auth-con panel content-body">
  <form action="/sent-recover" method="post">
    <h5>Recover Password</h5>
    <hr>
    <div class="field">
      <label>Enter your username</label>
      <input type="text" name="username" required/>
    </div>
    <input class="button" type="submit" value="recover it"/>
  </form>
</div>
#}}
{{#def.include('./template/main')}}