{{##def.page_title = 'Give aways' #}}

{{##def.content:
<div class="panel content-body">
  <h5>Add a giveaway</h5>
  <hr>
  <div class="row contact">
    <form action="/admin-giveaway" id="contact" method="post">
      <div class="field">
        <label for="users">users:</label>
        <textarea id="users" rows="10" name="users" required></textarea>
      </div>
      <div class="field">
        <label for="bits">Bits </label>
        <input type="number" id="bits" name="bits" min="1" max="10000" value="1" required=""/>
      </div>
      <input type="submit" class="button green" value="add!"/>
      <a class="button" href="/admin">back</a>
    </form>
  </div>
</div>
#}}
{{#def.include('./template/main')}}