{{##def.page_title = 'The Social Bitcoin Gambling Game' #}}

{{##def.content:
  <div class="index">
    <div class="hero-unit">
      <h1 class="title">Launch your Bitcoin to the moon!</h1>
      <h4 class="faucet">Receive <em>5 free bits</em> an hour, so you can always play for fun and without commitment</h4>
      <a href="/play" class="cta">Play Now</a>
    </div>
    <div class="stats">
      <div class="stat-wrapper">
        <div class="stat"><span class="amount">{{=it.stats.users.count}}</span><span class="label">Total Users</span></div>
      </div>
      <div class="stat-wrapper">
        <div class="stat"><span class="amount">{{=it.stats.plays.count }}</span><span class="label">Total Bets</span></div>
      </div>
      <div class="stat-wrapper">
        <div class="stat"><span class="amount">{{#def.format: {n: (9 + it.stats.plays.cashed_out + it.stats.plays.bonused) } }} bits</span><span class="label">Total Won</span></div>
      </div>
    </div>
    <div class="features">
      <div class="feature-wrap">
        <div class="feature">
          <img src="img/icons/bullseye.svg" alt="Skill"/>
          <h2>1% Skill</h4>
          <p class="text">Anyone can board a rocket, but it takes <a href="/guide">skill</a> to be a real astronaut.</p>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <img src="img/icons/clock.svg" alt="Real Time"/>
          <h2>Real Time</h4>
          <p class="text">Liftoff in T-minus 3..2.. Hurry! Next destination: moon.</p>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <img src="img/icons/secure.svg" alt="Secure"/>
          <h2>Provably Fair</h4>
          <p class="text">All rocket launches are approved by NASA and <a href="faq#fair">Provably fair</a>.</p>
        </div>
      </div>
      <div class="feature-wrap">
        <div class="feature">
          <img src="img/icons/group.svg" alt="Social"/>
          <h2>Be Social</h4>
          <p class="text">We're all in the same rocket, so lets enjoy the ride together!</p>
        </div>
      </div>
    </div>

    <div class="footer">
      <p>ToTheMoon.is</p>
      <nav>
        <ul>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
        </ul>
      </nav>
    </div>

  </div>

#}}
{{#def.include('./template/main')}}

