{{##def.page_title = 'Login' #}}

{{##def.content:
<div class="panel auth-con content-body">
  <form action="/login" method="post">
    <h5>Login <small><a href="register">Don't have an account yet?</a></small></h5>
    <hr>
    <div class="field">
      <label>Username</label>
      <input type="text" name="user[name]" required/>
    </div>
    <div class="field">
      <label>Password <small><a href="/forgot-password">Forgot your password?</a></small></label>
      <input type="password" name="user[password]" required />
    </div>
    <input class="button green" type="submit" value="Login"/>
  </form>
</div>

#}}
{{#def.include('./template/main')}}