{{##def.page_title = 'Stats' #}}

{{##def.content:
  <div class="panel content-body">
    <h5>ToTheMoon.is Statistics</h5><small>Generated {{! it.generated }}</small>
    <hr>
    <table class="stats">
      <tbody>
        <tr>
          <td>
            <b>Pending Withdraws</b><br />
            <small>(withdrawals that require admin to look at)</small>

          </td>
          <td>{{= it.stats.pending_withdrawals.count }}</td>
        </tr>
        <tr>
          <td>
            <b>Unterminated Games</b><br />
            <small>(games that require admin to look at)</small>
          </td>
          <td>{{=it.stats.unterminated_games.count}} </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><b>Deposits:</b></td>
          <td>{{= (it.stats.deposits.sum / 100000000).toFixed(8) }} BTC</td>
        </tr>
        <tr>
          <td><b>Withdrawals:</b></td>
          <td>{{= (it.stats.withdrawals.sum / 100000000).toFixed(8) }} BTC</td>
        </tr>
        <tr>
          <td class="strong">Net:</td>
          <td class="strong">{{= ((it.stats.deposits.sum - (it.stats.withdrawals.sum * -1)) / 100000000).toFixed(8) }} BTC</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Total Wagered</b></td>
          <td>{{= (it.stats.plays.total_bet / 100000000).toFixed(8) }} BTC</td>
        </tr>
        <tr>
          <td><b>Players won in cashed:</b></td>
          <td>{{= (it.stats.plays.cashed_out / 100000000).toFixed(8) }} BTC <small>(
               {{= (it.stats.plays.cashed_out / it.stats.plays.total_bet * 100).toFixed(2) }}%
            )</small></td>
        </tr>
        <tr>
          <td><b>Players won in bonuses:</b></td>
          <td>{{= (it.stats.plays.bonused / 100000000).toFixed(8) }} BTC <small>(
            {{= (it.stats.plays.bonused / it.stats.plays.total_bet * 100).toFixed(2) }}%
            )</small></td>
        </tr>
        <tr>
          <td><b>Players won in total: </b></td>
          <td>{{= ((9 + it.stats.plays.cashed_out + it.stats.plays.bonused) / 100000000).toFixed(8) }} BTC <small>(
            {{= ((it.stats.plays.cashed_out + it.stats.plays.bonused) / it.stats.plays.total_bet * 100).toFixed(2) }}%
            )</small></td>
        </tr>
        <tr>
          <td class="strong">Our Profit</td>
          <td class="strong">
            {{= ((it.stats.plays.total_bet - it.stats.plays.cashed_out - it.stats.plays.bonused) / 100000000).toFixed(8) }} BTC
            <small>(
              {{= ((it.stats.plays.total_bet - it.stats.plays.cashed_out - it.stats.plays.bonused ) / it.stats.plays.total_bet * 100).toFixed(2) }}%
              )</small>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><b>Total Users:</b></td>
          <td>{{=it.stats.users.count}}</td>
        </tr>
        <tr>
          <td><b>Total Plays</b></td>
          <td>{{=it.stats.plays.count }}</td>
        </tr>
        <tr>
          <td><b>Total Games</b></td>
          <td>{{=it.stats.games.count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 #}}

{{#def.include('./template/main')}}