{{##def.page_title = 'Support' #}}

{{##def.content:
<script type="text/javascript">
  function logout() {
    if (document.getElementById('logout') ) {
      if (confirm("Are you sure you want to log out?")) {
        document.getElementById("logout").submit();
      }
    }
  }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="settings content-body">
  <ul class="menu">
    <li><a href="/account">Account</a></li>
    <li><a href="/deposit">Deposit</a></li>
    <li><a href="withdraw">Withdraw</a></li>
    <li class="active">Support</li>
    <li><a onclick="logout();">Logout</a></li>
  </ul>
  <div class="panel">
    <h5>Houston, we have a problem!</h5>
    <hr>
    <div class="row contact">
      <form action="/support" id="contact" method="post">
        <div class="field">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" value="{{!it.user.email}}" required=""/>
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea rows="10" id="message" name="message" required> </textarea>
        </div>
        <input type="submit" class="button" value="Send Message"/>
      </form>
    </div>
  </div>
</div>
#}}
{{#def.include('./template/main')}}