{{##def.page_title = 'Withdraw Request' #}}

{{##def.content:
<script type="text/javascript">
  function logout() {
    if (document.getElementById('logout') ) {
      if (confirm("Are you sure you want to log out?")) {
        document.getElementById("logout").submit();
      }
    }
  }
</script>
<form action="/logout" method="post" id='logout'></form>
<div class="settings content-body">
  <ul class="menu">
    <li><a href="/account">Account</a></li>
    <li><a href="/deposit">Deposit</a></li>
    <li class="active">Withdraw</li>
    <li><a href="/support">Support</a></li>
    <li><a onclick="logout();">Logout</a></li>
  </ul>

  <div class="panel">
    <div class="small-10 columns sets-content">
      <h5>Request A Withdrawal</h5>
      <hr>
      <p class="small">
        The minimal amount for a withdrawal is 200 bits. You will receive 100 bits less than what you withdraw, as we use that 100 bits to go towards mining fee.
      </p>

      <form action="/withdraw-request" method="post">
        <div class="field">
          <label for="amount">Bits amount</label>
          <input type="number" id="amount" name="amount" placeholder="200" min="200" required/>
        </div>
        <div class="field">
          <label for="destination">Destination address</label>
          <input type="text" id="destination" name="destination" required/>
        </div>
        <div class="field">
          <label for="password">Your password</label>
          <input type="password" id="password" name="password" autocomplete="off"/>
        </div>
        <a href="/withdraw" class="button ">Back</a>
        <input class="button green" type="submit" value="Submit Withdrawal"/>
      </form>
    </div>
  </div>
</div>
#}}

{{#def.include('./template/main')}}