*
  box-sizing border-box

html, body, .wrapper
  min-width 1100px

body
  -webkit-font-smoothing antialiased
  font 14px "Verlag A","Verlag B","Helvetica Neue",Helvetica,Arial,sans-serif
  color #fff
  background #21242a

a
  color #e58929
  text-decoration none
  &:hover
    transition all .1s linear
    color #c87629

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  font-family inherit
  color inherit
  text-rendering optimizelegibility

button, input[type="submit"]
  -webkit-font-smoothing antialiased
  &:focus
    outline 0

strong, b
  font-weight bold
  line-height inherit

::-webkit-scrollbar-corner
  background-color #1c1c1f

::-webkit-scrollbar-track
  background-color #181a1e

::-webkit-scrollbar-thumb
  border 1px solid #1c1c1f
  border-radius 10px
  background-color #2a2c36

::-webkit-scrollbar
  width 10px
  background-color #1c1c1f

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
textarea
  border 1px solid #d6dae1
  font-size 14px
  padding 10px
  background #fff
  border-radius 2px
  width 100%
  position relative
  box-shadow inset 0 1px 1px 0 rgba(#000,.05)
  &:focus
    outline none
    border solid 1px #f7941f
    box-shadow 0 0 0 1px rgba(#f7941f, .2), inset 0 1px 1px 0 rgba(#000,.1)

.wrapper
  position absolute
  top 54px
  bottom 0
  width 100%

.inner-wrapper
  position relative
  height 100%
  overflow hidden

.col-left
  position absolute
  top 0
  left 0
  bottom 0
  right 350px

.col-right
  position absolute
  width 350px
  right 0
  top 0
  bottom 0

nav
  ul
    margin 0
    padding 0
    list-style none
    li
      padding 0
      margin 0
      display inline-block

.button
  background-color #88909a
  border-radius 5px
  display inline-block
  background-image linear-gradient(transparent,rgba(#000,.15))
  text-shadow 1px 1px 0 rgba(#000,.15)
  user-select(none)
  font-weight 600
  padding 0 15px
  border 0
  border-bottom 1px solid darken(#88909a,40%)
  color #fff
  text-transform uppercase
  font-size 13px
  height 30px
  line-height 30px
  text-align center
  display inline-block
  &:hover
    color #fff
  &.full
    width 100%
  &:active
    top 1px
    position relative
  &.green
    background-color #33ac0e
    box-shadow inset 0 1px 0 rgba(#fff,.05), inset 0 -1px 0 rgba(#fff,.05)
    border-bottom 1px solid darken(#33ac0e,40%)
    color #fff
    &:hover
      background-color lighten(#3eb31f,5%)
    &:active
      border 0
  &.orange
    background-color #f7941f
    box-shadow inset 0 1px 0 rgba(#fff,.05), inset 0 -1px 0 rgba(#fff,.05)
    border-bottom 1px solid darken(#f7941f,40%)
    color #fff
    &:hover
      background-color lighten(#f7941f,5%)
  &.disabled
    background #acacac
    text-shadow 1px 1px 0 rgba(#fff,.5)
    box-shadow none
    border 0
    color #333
    cursor auto
    font-weight normal
    &:hover
      background #acacac
    &:active
      top 0

.caret
  display inline-block
  width 0
  height 0
  margin-left 15px
  vertical-align middle
  border-top 5px solid #fff
  border-right 5px solid transparent
  border-bottom 0 dotted
  border-left 5px solid transparent
  content ""

.dropdown-mode
  position relative
  &:hover
    .dropdown
      opacity 1
      visibility visible
      z-index 99
  .dropdown
    position absolute
    margin 0
    padding 0
    transition all .1s ease-out
    box-shadow 0 1px 1px rgba(#000,.4)
    width 100%
    z-index 0
    top 100%
    opacity 0
    visibility hidden
    list-style none
    text-align left

.float-right
  float right
.float-left
  float left

.success
.warning
  position relative
  background-image linear-gradient(transparent, rgba(0,0,0,0.15))
  color #f5f5f5
  font-size 15px
  padding 8px 15px
  margin 0px
  text-align center
  a
    color #fff
.success
  background-color #33ac0e
.warning
  background-color #f71f1f