@import 'normalize.css'
@import 'fonts'
@import 'bootstrap'
@import 'space'

.body-el
  width 100%

.loading
  font-size 60px
  text-align center
  margin 100px 0

.players
  height 50%
  padding 15px 15px 15px 0
  tr
    td
      overflow-x hidden
    td:first-child
      max-width 100px
    td:nth-child(2)
      max-width 60px

.log-chat
  height 50%
  padding 0 15px 15px 0

.players-container, .log-chat-tabs-container
  height 100%
  position relative

.history
  position absolute
  top 30px
  bottom 0
  width 100%
  border-radius 0 0 3px 3px

.players-container
  border-radius 3px

.players-container, .history
  background #181a1e
  box-shadow 0 2px 0 rgba(#000,.1), 0 1px 1px rgba(#000,.4)
  border-bottom 1px solid #292d35
  border-right 1px solid #292d35
  border-left 1px solid #292d35
  overflow hidden
  padding-top 30px
  .header-bg
    background #292d35 url("/img/header-bg.png")
    height 30px
    position absolute
    top 0
    right 0
    left 0
  .table-inner
    overflow-x hidden
    overflow-y auto
    height 100%
  table
    width 100%
    overflow-x hidden
    overflow-y auto
    .th-inner
      position absolute
      top 0
      line-height 30px
      user-select none
      text-align left
      border-left 1px solid rgba(#000,.15)
      box-shadow inset 1px 0 0 rgba(#fff,.03)
      color #b0b3c1
      font-weight 600
      padding-left 10px
      margin-left -10px
      text-transform uppercase
      font-size .8em
    th:first-child
      .th-inner
        box-shadow none
        border 0
    th
      text-align left
      padding 0 10px

    td
      padding 6px 10px
    tr:nth-child(odd)
      td
        background lighten(#181a1e,1%)
    .user-playing
      color #e58929
      text-shadow 0 0 5px darken(#e58929,20%)
    .user-cashed
    .user-won
      color #33ac0e
      text-shadow 0 0 5px darken(#33ac0e,20%)
    .user-lost
      color #f71f1f
      text-shadow 0 0 5px darken(#f71f1f,20%)

// Messages
.log-chat-container
  height calc(100% - 30px)

.messages-container
  height 100%
  background #181a1e
  color #b0b3c1
  box-shadow 0 2px 0 rgba(#000,.1), 0 1px 1px rgba(#000,.4)
  border 1px solid #292d35
  position relative
  overflow hidden
  border-radius 0 0 3px 3px
.messages
  list-style none
  padding 0
  margin 0
  padding 5px 10px
  overflow-y scroll
  position absolute
  width 100%
  bottom 40px
  top 0
.msg-admin-message,
.msg-chat-message
  margin-bottom 3px
  overflow hidden
  font-size 15px
  word-wrap break-word
  &:last-child
    margin-bottom 0
  .sender
    font-weight bold
    color #e58929
  .content
    display inline
.message-post
  position absolute
  bottom 0
  padding 5px
  width 100%
  height 36px
  overflow hidden
  input[type="text"]
    border 0
    background #fff
    height 26px
    padding 2px 2px 2px 10px
    font-size 13px
    width 100%
    border-radius 3px
    padding-right 70px
  button
    color #fff
    position relative
    background-color #292d35
    border-radius 0 3px 3px 0
    padding 0 14px
    border 0
    font-size 12px
    text-transform uppercase
    display inline-block
    font-weight 700
    user-select none
    transition all .2s linear
    position absolute
    top 0
    right 0
    line-height 26px
    height 26px
    margin 5px

// Tabs
.chat-log-tabs
  background transparent
  position relative
  height 30px
  margin 0
  padding 0
  list-style none
  li
    padding 0
    margin 0
    display inline-block
    width 50%
    &:last-child
      padding-left 5px
    &.tab-active
      a
        background #292d35 url("/img/header-bg.png")
    a
      text-align left
      user-select none
      background #181a1f
      border 1px solid #292d35
      border-bottom 0
      cursor pointer
      padding 0 10px
      height 30px
      line-height 30px
      color #fff
      font-weight 600
      text-transform uppercase
      display block
      font-size 12px
      border-radius 3px 3px 0 0
      

@import 'gui'
@import 'header'