// GUI
.gui
  position absolute
  width 100%
  padding 15px
  bottom 0
  left 0
  .gui-inner
    background #292d35 url("/img/header-bg.png")
    margin-right 0
    border-radius 3px
    box-shadow 0 2px 0 rgba(#000,.1), 0 1px 1px rgba(#000,.4)
    border 1px solid #292d35
    overflow hidden
    position relative
    clearfix()
    .information
      text-align center
      background #181a1f
      border-bottom 1px solid rgba(#000,.15)
      box-shadow 0 1px 0 rgba(#fff,.03)
      margin 0
      height 30px
      font-size 16px
      line-height 30px
      color #fff
      text-transform uppercase
      .red
        color #f71f1f
        text-shadow 0 0 5px #f20909
      .green
        color #33ac0e
        text-shadow 0 0 5px #298a0b

  .cancel-bt
    margin 5px 10px
    font-size 11px
    text-align center
    margin 0 10px 10px 0
    text-transform uppercase
    font-weight bold
    float right
    border-radius 5px
    color #222
    cursor pointer
    background #bbb
    display block
    padding 5px 10px
    background linear-gradient(top, #f5f5f5, #bbb)
    &:active
      top 1px
      position relative

  .bet-btn
    font-size 32px
    margin 10px
    padding 0 40px
    text-align center
    height 50px
    width 305px
    line-height 50px
    cursor pointer
    float right
    text-transform none
    &:active
      top 1px
    &.disable
      background #acacac
      text-shadow 1px 1px 0 rgba(#fff,.5)
      border 0
      color #333
      cursor auto
      font-weight normal
      &:active
        top 0
        height 50px
        margin-bottom 10px
  


  .button
    &.full
      width calc(100% - 20px)
      margin 10px

  .button.register
    margin-top 0

  
// Actions
.action
  color #fff
  font-size 14px
  font-weight bold
  margin 10px
  height 50px
  box-sizing border-box
  outline none
  text-transform uppercase
  user-select(none)
  float left
  margin-right 0
  label
    font-weight bold
    height 50px
    display inline-block
    margin-right 5px
    padding 5px
    float left
  .input-wrapper
    float left
    padding 3px
    background #bbb
    background linear-gradient(top, #f5f5f5, #bbb)
    box-shadow 0 1px 3px rgba(#000,.33)
    color #444
    font-size 14px
    text-shadow 0 1px 2px rgba(#fff,.3)
    height 50px
    border-radius 5px
    display inline-block
    position relative
    .bet-unit
      position absolute
      top 17px
      right 17px
      font-size 13px
      font-weight bold
      color #444
  input[type="text"], input[type="number"]
    font-size 14px
    font-weight bold
    text-align left
    outline none
    padding 10px
    height 100%
    width 100%
    box-sizing border-box
    border solid 1px #999
    border-radius 3px
    box-shadow inset 0 1px 1px 0 rgba(#000, 0.10)
    transition background .2s ease
    &:focus
      border solid 1px #f7941f
      box-shadow 0 0 0 1px rgba(#f7941f, .2), inset 0 1px 1px 0 rgba(#000,.1)

  .operators
    height 50px
    padding 0
    margin 0 0 0 5px
    float left
    list-style none
    clearfix()
    li
      margin 0
      padding 0
    .operator
      padding 0 5px
      width 30px
      height 22.5px
      line-height 22.5px
      font-size 11px
      color #222
      border 0
      border-radius 5px
      background #bbb
      display block
      background linear-gradient(top, #f5f5f5, #bbb)
      &:first-child
        margin-bottom 5px
      &:active
        top 1px
        position relative

.betsize
  .input-wrapper
    width 170px
    input
      padding-right 55px
  .label
    font-size 16px
.cashout
  .input-wrapper
    width 100px
    input
      padding-right 30px
  .label
    font-size 12px

.auto-bet
  font-size 11px
  text-align center
  margin 0 10px 10px 10px
  float right
  border-radius 5px
  color #222
  background #bbb
  display block
  padding 5px
  background linear-gradient(top, #f5f5f5, #bbb)
  label
    margin 0
    font-weight bold
    text-transform uppercase
    padding 6px
    cursor pointer
  span
    margin-left 5px
  &:active
    top 1px
    position relative

.game-hash
  float left
  clear left
  font-size 11px
  padding 0 10px 10px 15px
  color #bbbcbd
  height 25px
  line-height 25px
  margin 0
  a
    color #bbbcbd
    &:hover
      color #f7941f

.error-msg
  position absolute
  top 0
  left 0
  width 100%
  color #f71f1f
  font-size 12px
  text-align center
  background #181a1f
  margin 0
  height 30px
  font-size 16px
  line-height 30px
  text-transform uppercase