.header
  height 54px
  background #292d35 url("/img/header-bg.png")
  box-shadow: inset 0 -1px 0 rgba(#fff,.025), 0 1px 3px rgba(#000,.4)
  position relative
  clearfix()
  .auth
    float right
    li
      margin-left 12px
  ul
    margin 12px

.header-el
  float right
  margin 12px 6px

.logo
  float left
  height 30px
  width 200px
  text-indent -999px
  overflow hidden
  image "/img/tothemoon-logo.png" 200px 30px
  margin 12px
  a
    display block

.balance
  margin-left 30px
  background #1c1e25
  box-shadow inset 0 1px 2px rgba(#000,.3)
  border-radius 5px
  padding 0 15px 0 27px
  height 30px
  line-height 30px
  box-sizing border-box
  position relative
  &:before
    content ""
    image "/img/balance-icon.png" 36px 36px
    height 36px
    width 36px
    display block
    position absolute
    left -18px
    top -3px
  .amount
    font-size 18px
    font-weight 600
    text-shadow 0 1px 0 rgba(#000,.5)
  .currency
    font-size 13px
    color #bbbcbd

// Account
.account
  background-color #1c1e25
  border-radius 5px
  background-image linear-gradient(transparent,rgba(#000,.15))
  text-shadow 1px 1px 0 rgba(#000,.15)
  user-select(none)
  font-weight 600
  border 0
  text-transform uppercase
  font-size 13px
  height 30px
  line-height 30px
  display block
  text-align right
  min-width 120px
  padding 0 15px
  margin-right 12px
  a
    color #fff
  & > a
    float left
  &:hover
    border-radius 3px 3px 0 0
    .caret
      border-top-color #fff
  .caret
    border-top-color #b0b3c1
    text-align right
  .dropdown
    left 0
    background darken(#21242a,20%)
    border-radius 0 0 3px 3px
    overflow hidden
    list-style none
    li
      display block
      float none
      color rgba(#fff,.8)
      &:hover
        color #fff
        background darken(#21242a,30%)
      a
        border-top 1px solid rgba(#fff,.03)
        padding 0 15px
        height 30px
        line-height 30px
        display block
        font-size 13px
        font-weight normal