random(a,b)
  return math(math(0, 'random')*(b - a + 1) + a, 'floor')

// Multiplier
.multiplier
  margin-top 20px
  font-size 70px
  text-shadow 0 0 2px rgba(#fff,.5)
  font-weight 700
  position relative
  text-align center
  user-select none
  width 100%
  font-family ubuntu_monobold, monospace,serif
  font-weight normal

.rocket-outer
  position absolute
  top 0
  bottom 150px
  width 100%
  text-align center
  overflow hidden
  &:before
    content ""
    display inline-block
    height 100%
    vertical-align middle

.rocket-inner
  vertical-align middle
  position relative
  display inline-block
  width 100%

.rocket
  width 200px
  height 200px
  position relative
  margin 0 auto
  .ship
    z-index 2
    position absolute
    width 200px
    height 200px
    background url("/img/rocket.svg") no-repeat
  .rocket-flame
    background url("/img/rocket-flame.svg") no-repeat
    height 50px
    width 50px
    position absolute
    bottom 0
    left 0
    z-index 1
    transform-origin top right
    animation flame 200ms infinite ease-out
  .explosion-particle
    height 6px
    width 4px
    position absolute
    left 50%
    top 50%
    background #fff
    for $i in (1..30)
      &:nth-child({$i})
        background #f7941f

  &.launch
    animation launch 1s linear
    animation-fill-mode forwards
    opacity 0

  &.crash
    .ship
      animation crash 500ms linear
      animation-fill-mode: forwards
    .rocket-flame 
      display none
      animation none
    .explosion-particle
      for $i in (1..102)     
        &:nth-child({$i})
          animation-duration: 1s
          animation-name: 'anim-'+$i
          animation-fill-mode: forwards
          animation-timing-function: ease-in-out

@keyframes launch
  0% { transform: translate3D(-800px,800px,0); opacity 0}
  100% { transform: translate3D(0,0,0); opacity 1}

for $i in (1..102) 
  @keyframes anim-{$i}
    0% { transform: translate3D(0,0,0); opacity 1 }
    100%{ transform: translate3D(random(-500px,500px),random(-500px,500px),0); opacity 0 }

@keyframes flame
  0% { transform: rotate3D(1,1,0,0deg); opacity: 1 }
  100% { transform: rotate3D(1,1,0,30deg); opacity: 1 }

@keyframes crash
  0% { scale(1.0); opacity: 1; }
  100% { scale(0.3); opacity: 0; }

.space-wrap
  position fixed
  top 0
  left 0
  bottom 0
  right 0
  overflow hidden
  z-index -1
  &.flying
    .space-container
      animation: spacebg 1s infinite linear
      animation-delay 1s
  &.waiting
    .space-container-wrap
      animation-play-state running

.space-gradient
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  background: linear-gradient(rgba(#000,.5),transparent)
  z-index -1

.space-container-wrap
  z-index -2
  position absolute
  top -480px
  right -320px
  left 0
  bottom 0
  animation: spacebg 15s infinite linear
  animation-play-state paused

.space-container
  z-index -2
  position absolute
  top -480px
  right -320px
  left 0
  bottom 0
  background #21242a url("/img/stars.png")

@keyframes spacebg
  0% { transform: translate3D(0,0,0) }
  100% { transform: translate3D(-320px,480px,0) }

.earth
  height 100%
  width 100%
  display block
  position absolute
  top 0
  left 0
  background url("/img/earth.png")
  background-size 147px 146px
  background-repeat no-repeat
  animation: earth-flyby 600s infinite linear
  animation-delay random(60s,600s)
  opacity 0

.ufo
  height 100%
  width 100%
  display block
  position absolute
  top 0
  left 0
  background url("/img/ufo.png")
  background-size 89px 54px
  background-repeat no-repeat
  animation: ufo-flyby 63s infinite linear
  animation-delay random(30s,300s)
  opacity 0

.ufo2
  height 100%
  width 100%
  display block
  position absolute
  top 0
  left 0
  background url("/img/ufo2.png")
  background-size 237px 276px
  background-repeat no-repeat
  animation: ufo2-flyby 600s infinite linear
  animation-delay random(90s,900s)
  opacity 0

@keyframes ufo2-flyby
  0% { transform: translate3D(random(0%,50%),100%,0); opacity: 1; }
  1% { transform: translate3D(-237px,calc(0% - 276px),0); opacity: 1; }
  100% { transform: translate3D(-237px,calc(0% - 276px),0); opacity: 0; }

@keyframes ufo-flyby
  0% { transform: translate3D(random(0%,100%),-54px,0); opacity: 1; }
  5% { transform: translate3D(-89px,calc(100% - 54px),0); opacity: 1; }
  100% { transform: translate3D(-89px,calc(100% - 54px),0); opacity: 0; }

@keyframes earth-flyby
  0% { transform: translate3D(random(0%,50%),100%,0); opacity: 1; }
  1% { transform: translate3D(100%,calc(0% - 276px),0); opacity: 1; }
  100% { transform: translate3D(100%,calc(0% - 276px),0); opacity: 0; }
