<head>
    <title>{{# def.page_title || 'Social Bitcoin Gambling' }} - ToTheMoon.is</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    {{?it.table}}
        <link rel="stylesheet" href="/css/game.css" />
    {{??}}
        <link rel="stylesheet" href="/css/app.css" />
    {{?}}
    <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
</head>