<script type="text/javascript">
  function logout() {
    if (document.getElementById('logout') ) {
      if (confirm("Are you sure you want to log out?")) {
        document.getElementById("logout").submit();
      }
    }
  }
</script>
<header class="header">
  <form action="/logout" method="post" id='logout'></form>

  <h1 class="logo">
    <a href="/", title="ToTheMoon">ToTheMoon.is</a>
  </h1>
       
  {{?it.amount}}
    <div class="table-title">
      <h2> {{=it.amount/100}} Bit Table </h2>
    </div>
  {{?}}

  {{?it.user}}
    <div class="account header-el dropdown-mode">
      <a href="/account">{{=it.user.username}}</a>
      <span class="caret"></span>
      <ul class="dropdown">
        <li><a href="/account">Account</a></li>
        <li><a href="/deposit">Deposit</a></li>
        <li><a href="/withdraw">Withdraw</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="#" onclick="logout();">Logout</a></li>
      </ul>
    </div>
    <div class="balance header-el">
      <span id="balance_bits" class="amount">{{#def.format:{n: it.user.balance_satoshis, decimals:2} }}</span>
      <span class="currency">BITS</span>
    </div>
    {{?it.user && it.user.balance_satoshis < 100}}
      {{?it.user.eligible == true}}
        <div class="header-el"><a href="/request" class="button green">Collect your 5 free bits</a></div>
      {{??}}
        <div class="deposit header-el">
          <a href="/deposit" class="button green">Deposit Bitcoin</a>
        </div>
      {{?}}
    {{?}}
    
    {{?it.user.admin}}
      <div><a class="username header-el button" href="/admin">admin</a></div>
    {{?}}
  {{??}}
    <nav>
      <ul class="auth">
        <li><a href="/register" class="button green">Register</a></li>
        <li><a href="/login" class="button">Login</a></li>
      </ul>
    </nav>
  {{?}}
</header>