{{##def.format:param:{{=(param.n/100).toFixed(param.decimals).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,")}}#}}

<!DOCTYPE html>
<html>
  {{#def.include('head')}}
<body>

<div class="wrap">
  {{#def.include('header')}}

  {{? it.warning }}
    <div class="warning">{{!it.warning}}</div>
  {{?? it.success}}
    <div class="success">{{!it.success}}</div>
  
  {{??it.user }}
    {{?it.user.error}}
      <div class="warning">{{!it.user.error}}</div>
    {{??it.user.advice == 'new'}}
      <div class="success">Welcome to ToTheMoon, to start you have 5 free bits, <a href="/request">you can request them here</a>. Have fun!</div>
    {{??it.user.advice == 'received'}}
      <div class="success">Congratulations you have been credited 5 free bits. Now board that rocket and lets get those to the moon!</div>
    {{?? it.user.advice}}
      <div class="success">{{!it.user.advice}}</div>
    {{?}}
  {{?}}

  <div class="content">
    <div id="space-wrap" class="space-wrap">
      <div class="ufo"></div>
      <div class="ufo2"></div>
      <div class="earth"></div>
      <div class="space-gradient"></div>
      <div class="space-container-wrap">
        <div class="space-container"></div>
      </div>
    </div>
    {{#def.content || ""}}
  </div>

  <script>
  /*
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54068823-1', 'auto');
    {{? it.user }}
    ga('set', '&uid', '{{=it.user.username}}');
    {{?}}
    ga('send', 'pageview');
  */
  </script>

</div>

</body>
</html>